section.contact
  h2 Kontakt
  .contact__name Karolina Gomuła
  .contact__values +48 733 660 498<br>kontakt@interakcja.eu

  .socialmedia__icons
    a(href="facebook.com/interakcja2", class="socialmedia__svg")
      object(data="assets/img/facebook.svg", class="facebook__icon--inactive", type="image/svg+xml")
    a(href="facebook.com/interakcja2", class="socialmedia__text") facebook.com/interakcja2
    
    //- IF THEY WILL EXIST IN FUTURE
    
    //- a(href="facebook.com/interakcja2", class="socialmedia__svg")
    //-   object(data="assets/img/twitter.svg", class="twitter__icon--inactive", type="image/svg+xml")
    //- a(href="facebook.com/interakcja2", class="socialmedia__svg")
    //-   object(data="assets/img/thumblr.svg", class="thumblr__icon--inactive", type="image/svg+xml")
    //- a(href="facebook.com/interakcja2", class="socialmedia__svg")
    //-   object(data="assets/img/instagram.svg", class="instagram__icon--inactive", type="image/svg+xml")

  input(type="text", class="field--inactive", placeholder="Imię", required="true", maxlenght="255")
  input(type="email", class="field--inactive", placeholder="Twój email", required="true", maxlenght="255")
  textarea(type="textarea", class="field--inactive", placeholder="Treść wiadomości", required="true")
  button(type="submit", class="btn--inactive", placeholder="Wyślij") Wyślij

  //- .footer__title Interakcja 2016
  .footer__copyrights <b>© Interakcja 2016</b></br>Wszelka tresć i&nbsp;zdjęcia zamieszczone na stronie są własnością autorów. Powielanie i&nbsp;rozpowszechnianie bez ich zgody jest zabronione oraz narusza prawa autorskie
  
