section.header
  .hamb__menu--underlay
  .hamb__icon
    span
    span
    span
    span
    
  .hamb__menu--overlay
    ul
      li Interakcja
      li O mnie
      li Oferta
      li Referencje
      li Kontakt
      
  .header__title--bold Zapraszam Cię do krainy zabawy...
  .header__describtion składam niecodzienne pomysły w&nbsp;niebanalną całość, abyś mógł nieskrępowanie w&nbsp;niej poszukiwać i&nbsp;odnaleźć...
  a(class="cta", href="#") Obejrzyj film
    object(data="assets/img/play.svg", class="play", type="image/svg+xml")
