section.header
  .hamb
    span
    span
    span
    span
    
  h1 Zapraszam Cię do krainy zabawy...
  p składam niecodzienne pomysły w niebanalną całość, abyś mógł nieskrępowanie w niej poszukiwać i odnaleźć...
  a(class="cta", href="#") Obejrzyj film
  
.menu
  ul
    li Interakcja
    li O mnie
    li Oferta
    li Referencje
    li Kontakt
