section.references
  h2 Referencje

  mixin refer
    .comment
      img(src="http://pngimg.com/upload/face_PNG5660.png")
      span <b>Karolina</b>
      aside Dyreketor kreatywny w <b>Graficzne.pl</b>
      p „Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.”
  +refer
  +refer
  +refer
  
