section.workshops
  h2 Oferta
  h3 Warsztaty
  workshops.wrapper
    topics.off
      a(href="#") Sensobryki
      a(href="#") Brzuchonogi
      a(href="#") Hulajnogi
      a(href="#") Wierszoteka
      a(href="#") Zamieszanie
    sensobryki.off
      p Cykl warsztatów (1&nbsp;x&nbsp;60&nbsp;minut/tydzień) dla Najmłodszych – Bobasków, Bąbelków, Niemowlaków – dzieci w wieku 5 msc – 18 msc. Wielo zmysłowe stymulowanie rozwoju maluszków połączone z ich swobodnym ruchem i&nbsp;działaniem – celem wszechstronnego rozwoju. Aktywizujemy każdy z&nbsp;5 zmysłów: wzrok i&nbsp;dotyk poprzez różne kształty, faktury i&nbsp;wypełnienia, słuch dzięki zróżnicowanym dźwiękom i&nbsp;możliwości ich tworzenia, smak i&nbsp;węch poprzez oswajanie ze zróżnicowanymi produktami i&nbsp;konsystencjami.</br></br>
      p <b>Dlaczego już teraz?</b>
        </br>– stymulowanie percepcji wzrokowo-słuchowej maluszka.
        </br>– rozwijanie umiejętności motorycznych.
        </br>– zacieśnianie bliskości i&nbsp;więzi z&nbsp;rodzicem.
        </br>– wprowadzanie w&nbsp;system interakcji społecznych z&nbsp;rówieśnikami.
        </br>– poszerzanie perspektywy i&nbsp;świadomości innych w&nbsp;otoczeniu.
        </br>– aktywizacja komunikacyjna maluszka.
        </br>– nauka przez zabawę !
      img(src='/assets/img/sensobryki.jpg')
      span Czas trwania
      span 2h
      span Maksymalna ilość osób
      span 10
      span Cena, od osoby
      span 50zł
    h3 Animacje
    h3 Urodziny
    h3 Szkolenia
    
    
    
