section.workshops
  mixin arrow
    a(href="http://google.com", class="svg")
      object(data="assets/img/arrow-down.svg", class="arrow", type="image/svg+xml")

  h3 Warsztaty
    +arrow  
  
  .workshops__content
    ul
      li
        input(type="radio", name="tabs", id="tab1")
        label(for="tab1") Sensobryki
        div#tab-content1.tab-content.animated.fadeIn
          p Cykl warsztatów (1 x 60 minut/tydzień) dla Najmłodszych – Bobasków, Bąbelków, Niemowlaków – dzieci w wieku 5 msc – 18 msc. Wielo zmysłowe stymulowanie rozwoju maluszków połączone z ich swobodnym ruchem i&nbsp;działaniem – celem wszechstronnego rozwoju. Aktywizujemy każdy z&nbsp;5 zmysłów: wzrok i&nbsp;dotyk poprzez różne kształty, faktury i&nbsp;wypełnienia, słuch dzięki zróżnicowanym dźwiękom i&nbsp;możliwości ich tworzenia, smak i&nbsp;węch poprzez oswajanie ze zróżnicowanymi produktami i&nbsp;konsystencjami.</br></br>
          p <b>Dlaczego już teraz?</b>
            </br>– stymulowanie percepcji wzrokowo-słuchowej maluszka.
            </br>– rozwijanie umiejętności motorycznych.
            </br>– zacieśnianie bliskości i&nbsp;więzi z&nbsp;rodzicem.
            </br>– wprowadzanie w&nbsp;system interakcji społecznych z&nbsp;rówieśnikami.
            </br>– poszerzanie perspektywy i&nbsp;świadomości innych w&nbsp;otoczeniu.
            </br>– aktywizacja komunikacyjna maluszka.
            </br>– nauka przez zabawę!
          img(src='/assets/img/sensobryki.jpg')
          span Czas trwania
          span 2h
          span Maksymalna ilość osób
          span 10
          span Cena, od osoby
          span 50zł
      
      li
        input(type="radio", name="tabs", id="tab2")
        label(for="tab2") Brzuchonogi
        div#tab-content2.tab-content.animated.fadeIn
          p BRZUCHONOGI (1&nbsp;x&nbsp;60&nbsp;minut/tydzień) dla Najmłodszych – Bobasków, Bąbelków, Niemowlaków – dzieci w wieku 5 msc – 18 msc. Wielo zmysłowe stymulowanie rozwoju maluszków połączone z ich swobodnym ruchem i&nbsp;działaniem – celem wszechstronnego rozwoju. Aktywizujemy każdy z&nbsp;5 zmysłów: wzrok i&nbsp;dotyk poprzez różne kształty, faktury i&nbsp;wypełnienia, słuch dzięki zróżnicowanym dźwiękom i&nbsp;możliwości ich tworzenia, smak i&nbsp;węch poprzez oswajanie ze zróżnicowanymi produktami i&nbsp;konsystencjami.</br></br>
          p <b>Dlaczego już teraz?</b>
            </br>– stymulowanie percepcji wzrokowo-słuchowej maluszka.
            </br>– rozwijanie umiejętności motorycznych.
            </br>– zacieśnianie bliskości i&nbsp;więzi z&nbsp;rodzicem.
            </br>– wprowadzanie w&nbsp;system interakcji społecznych z&nbsp;rówieśnikami.
            </br>– poszerzanie perspektywy i&nbsp;świadomości innych w&nbsp;otoczeniu.
            </br>– aktywizacja komunikacyjna maluszka.
            </br>– nauka przez zabawę !
          img(src='/assets/img/sensobryki.jpg')
          span Czas trwania
          span 2h
          span Maksymalna ilość osób
          span 10
          span Cena, od osoby
          span 50zł
      
      li
        input(type="radio", name="tabs", id="tab3")
        label(for="tab3") Hulajnogi
        div#tab-content3.tab-content.animated.fadeIn
          p BRZUCHONOGI (1&nbsp;x&nbsp;60&nbsp;minut/tydzień) dla Najmłodszych – Bobasków, Bąbelków, Niemowlaków – dzieci w wieku 5 msc – 18 msc. Wielo zmysłowe stymulowanie rozwoju maluszków połączone z ich swobodnym ruchem i&nbsp;działaniem – celem wszechstronnego rozwoju. Aktywizujemy każdy z&nbsp;5 zmysłów: wzrok i&nbsp;dotyk poprzez różne kształty, faktury i&nbsp;wypełnienia, słuch dzięki zróżnicowanym dźwiękom i&nbsp;możliwości ich tworzenia, smak i&nbsp;węch poprzez oswajanie ze zróżnicowanymi produktami i&nbsp;konsystencjami.</br></br>
          p <b>Dlaczego już teraz?</b>
            </br>– stymulowanie percepcji wzrokowo-słuchowej maluszka.
            </br>– rozwijanie umiejętności motorycznych.
            </br>– zacieśnianie bliskości i&nbsp;więzi z&nbsp;rodzicem.
            </br>– wprowadzanie w&nbsp;system interakcji społecznych z&nbsp;rówieśnikami.
            </br>– poszerzanie perspektywy i&nbsp;świadomości innych w&nbsp;otoczeniu.
            </br>– aktywizacja komunikacyjna maluszka.
            </br>– nauka przez zabawę !
          img(src='/assets/img/sensobryki.jpg')
          span Czas trwania
          span 2h
          span Maksymalna ilość osób
          span 10
          span Cena, od osoby
          span 50zł
    
      li
        input(type="radio", name="tabs", id="tab4")
        label(for="tab4") Wierszoteka
        div#tab-content4.tab-content.animated.fadeIn
          p BRZUCHONOGI (1&nbsp;x&nbsp;60&nbsp;minut/tydzień) dla Najmłodszych – Bobasków, Bąbelków, Niemowlaków – dzieci w wieku 5 msc – 18 msc. Wielo zmysłowe stymulowanie rozwoju maluszków połączone z ich swobodnym ruchem i&nbsp;działaniem – celem wszechstronnego rozwoju. Aktywizujemy każdy z&nbsp;5 zmysłów: wzrok i&nbsp;dotyk poprzez różne kształty, faktury i&nbsp;wypełnienia, słuch dzięki zróżnicowanym dźwiękom i&nbsp;możliwości ich tworzenia, smak i&nbsp;węch poprzez oswajanie ze zróżnicowanymi produktami i&nbsp;konsystencjami.</br></br>
          p <b>Dlaczego już teraz?</b>
            </br>– stymulowanie percepcji wzrokowo-słuchowej maluszka.
            </br>– rozwijanie umiejętności motorycznych.
            </br>– zacieśnianie bliskości i&nbsp;więzi z&nbsp;rodzicem.
            </br>– wprowadzanie w&nbsp;system interakcji społecznych z&nbsp;rówieśnikami.
            </br>– poszerzanie perspektywy i&nbsp;świadomości innych w&nbsp;otoczeniu.
            </br>– aktywizacja komunikacyjna maluszka.
            </br>– nauka przez zabawę !
          img(src='/assets/img/sensobryki.jpg')
          span Czas trwania
          span 2h
          span Maksymalna ilość osób
          span 10
          span Cena, od osoby
          span 50zł
    
      li
        input(type="radio", name="tabs", id="tab5")
        label(for="tab5") Zamieszanie
        div#tab-content5.tab-content.animated.fadeIn
          p BRZUCHONOGI (1&nbsp;x&nbsp;60&nbsp;minut/tydzień) dla Najmłodszych – Bobasków, Bąbelków, Niemowlaków – dzieci w wieku 5 msc – 18 msc. Wielo zmysłowe stymulowanie rozwoju maluszków połączone z ich swobodnym ruchem i&nbsp;działaniem – celem wszechstronnego rozwoju. Aktywizujemy każdy z&nbsp;5 zmysłów: wzrok i&nbsp;dotyk poprzez różne kształty, faktury i&nbsp;wypełnienia, słuch dzięki zróżnicowanym dźwiękom i&nbsp;możliwości ich tworzenia, smak i&nbsp;węch poprzez oswajanie ze zróżnicowanymi produktami i&nbsp;konsystencjami.</br></br>
          p <b>Dlaczego już teraz?</b>
            </br>– stymulowanie percepcji wzrokowo-słuchowej maluszka.
            </br>– rozwijanie umiejętności motorycznych.
            </br>– zacieśnianie bliskości i&nbsp;więzi z&nbsp;rodzicem.
            </br>– wprowadzanie w&nbsp;system interakcji społecznych z&nbsp;rówieśnikami.
            </br>– poszerzanie perspektywy i&nbsp;świadomości innych w&nbsp;otoczeniu.
            </br>– aktywizacja komunikacyjna maluszka.
            </br>– nauka przez zabawę !
          img(src='/assets/img/sensobryki.jpg')
          span Czas trwania
          span 2h
          span Maksymalna ilość osób
          span 10
          span Cena, od osoby
          span 50zł
  h3 Animacje
    +arrow
  h3 Urodziny
    +arrow
  h3 Szkolenia
    +arrow
    
    
