@media screen and (min-width: 320px)
  section.references
    .comment
      display: flex
      flex-direction: row
      // flex-flow: row wrap
      justify-content: center
      align-items: center
      // flex-wrap: wrap
      // padding-bottom: 10px
      width: 100%
      // height: 100%
      // margin: 0 auto

    .refer__column--text
      padding-left: 20px

    .references__name
      font-size: 1.5em
      // height: 50%
    img
      +size(70px)
      padding: 0
      margin: 0px 0px 10px 0px

    aside
      font-size: 1em
      margin-bottom: 20px
      line-height: 1.35em
      // @media screen and (min-width: 360px)
      //   font-size: 1.2em
      // @media screen and (min-width: 540px)
      //   display: block
    p
      margin: 0 auto
      font-size: 1.1em
      width: 80%
      margin-bottom: 50px
      @media screen and (min-width: 360px)
        font-size: 1.2em
      @media screen and (min-width: 400px)
        font-size: 1.35em
